aws_region   = "ca-central-1"
project_name = "job-tracker-api"
environment  = "dev"

vpc_cidr = "10.20.0.0/16"

public_subnet_cidrs = [
  "10.20.1.0/24",
  "10.20.2.0/24"
]

private_subnet_cidrs = [
  "10.20.101.0/24",
  "10.20.102.0/24"
]

db_name     = "jobtracker"
db_username = "jobuser"
db_password = "change-me-for-real-use"

eks_version             = "1.34"
eks_node_instance_types = ["t3.small"]
eks_desired_size        = 1
eks_min_size            = 1
eks_max_size            = 2
